<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/header.ejs") %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
  </head>

  <body>
    <%- include("partials/navbar.ejs") %>

    <div class="container mt-3">
      <form
        action="/blog"
        method="post"
        enctype="multipart/form-data"
      >
        <!-- Cover Image -->
        <div class="mb-3">
          <label for="exampleInputImage" class="form-label">
            Choose Image
          </label>
          <input
            type="file"
            class="form-control"
            name="coverImage"
            id="exampleInputImage"
            aria-describedby="coverhelp"
          />
        </div>

        <!-- Title -->
        <div class="mb-3">
          <label for="exampleInputtitle" class="form-label">
            Title
          </label>
          <input
            type="text"
            class="form-control"
            name="title"
            id="exampleInputtitle"
            aria-describedby="titlehelp"
          />
        </div>

        <!-- Content -->
        <div class="mb-3">
          <label for="floatingTextarea" class="form-label">
            Content
          </label>
          <textarea
            class="form-control"
            name="body"
            id="floatingTextarea"
            placeholder="Enter content..."
            rows="5"
          ></textarea>
        </div>

        <!-- Submit Button -->
        <button
          type="submit"
          name="submit"
          class="btn btn-primary mt-4"
        >
          Submit
        </button>
      </form>
    </div>

    <%- include("partials/script.ejs") %>
  </body>
</html>
